{% extends 'base.html.twig' %}
{% block title  %} Asignaturas Profesor {% endblock %}
{% block contenido %}
    <div class="row">
        <div class='col'>	
        </div>
	</div>
    <div class="row">
        {% for asignatura in asignaturas %}
        <div class="col-6">    
        	<div class="jumbotron">
                <p class="display-4">{{ asignatura.idAsignatura.nombre }}</p>
                <hr class="my-4">
                <p>{{ asignatura.idAula.ubicacion }}</p>
				<a class="btn btn-primary btn-lg" href="{{ path('estudiantes_asignatura', {'id': asignatura.idAsignaturaPeriodo })  }}" role="button">Ver</a>
            </div>    	
        </div>
        {% endfor %}	
    </div>
{% endblock %}