{% extends 'base.html.twig' %}
{% block title %} Nueva Plantilla Parcial Detalle{% endblock %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Plantilla Parcial Detalle</h3>
        <h6 class="card-subtitle mb-2 text-muted">Nuevo</h6>
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                {{ form_start(form) }}
                    <div class="form-group row row">
                        <label for="nombre" class="col-sm-2 col-form-label text-right">Parcial Plantilla:</label>
                        <div class="col-sm-9">
                   			{{ form_widget(form.idParcialPlantilla,{'attr':{'class':'form-control', 'id':"idParcialPlantilla"}} ) }}
                		</div>
            		</div>
                    <div class="form-group row">
                    	<label for="porcentaje" class="col-sm-2 col-form-label text-right">Porcentaje:</label>
                    	<div class="col-sm-9">
                    	    {{ form_widget(form.porcentaje,{'attr':{'class':'form-control','placeholder':'Ingrese una porcentaje', 'id':"porcentaje"}} ) }}
                    	</div>
                    </div>
                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-12 widget-right no-padding">
                        	<button type="submit" class="btn btn-primary btn-md float-right">Guardar</button>
                        </div>
                    </div> 
                {{ form_end(form) }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}