{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block contenido %}
    <div class="jumbotron">
    	<h1 class="mb-4">Bienvenido, al sistema de notas {{ usuario }}</h1>
    	<p class="lead">Sistema para la administracion de estudiantes y profesores del Instituto Ruminahui.</p>	
    	<p class="lead"><a class="btn btn-primary btn-lg mt-2" href="#" role="button">Learn more</a></p>
    </div>
{% endblock %}